header.d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-md-between.py-3.px-3.mb-4.border-bottom
    a.d-flex.align-items-center.col-md-3.mb-2.mb-md-0.text-dark.text-decoration-none(href="/") CarShop
    ul.nav.col-12.col-md-auto.mb-2.justify-content-center.mb-md-0
        li 
            a(href="/").nav-link.px-2.link-secondary Home
        li 
            a(href="/").nav-link.px-2.link-dark Sobre Nosotros
        li 
            a(href="/").nav-link.px-2.link-dark Productos
        li 
            a(href="/").nav-link.px-2.link-dark Preguntas
        li 
            a(href="/").nav-link.px-2.link-dark Contacto
    .col-md-3.text-end
        button(type="button").btn.btn-outline-primary.me-2 Login
        button(type="button").btn.btn-primary Sign-up